<div class="container">
	<h1>Order Details</h1>

	<h2><%= @catalog_item.title %></h2>
	<div class="ticket-price">
		<span class="left">Regular Ticket</span>
		<span class="right">£25</span>
	</div>

</div>