<%= render 'layouts/jumbotron' %>

<div class="homepage-section">
	<div class="container">
		<h2>Coffee shop, co-working, learning and fun.</h2>
		<p>It's your time to be here, join our community - right now.</p>
		<div class="embed-responsive embed-responsive-16by9">
			<video width="800" height="450" controls>
			  <source src="movie.mp4" type="video/mp4">
			</video>
		</div>
	</div>
</div>

<div class="homepage-section">
	<div class="container">
		<div class="row">
		  <div class="col-md-5">
		  	<h2>Workshops &amp Classes</h2>
		  	<p>Explore innovative courses in design, marketing, technology, and data — online and on campuses worldwide.</>
		  </div>
		  <div class="col-md-7">
		  	<img src="/assets/hpg1.png" class="img-responsive" alt="Workshops &amp Courses">
		  </div>
		</div>
	</div>
</div>
