$navbar-default-bg: #def1e7;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'PT Serif', serif;
  color: #333333;
  -webkit-font-smoothing: antialiased;

  a {
		color: #5CC18D;
		&:hover {
			color: #3c7b5b;
			text-decoration: none;
		}
	}
}

.max-width {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
   margin-bottom: 0;
   border: 0;
}

.jumbotron {
	background-color: #def1e7;
  border-bottom: 1px solid #5cc18d;
}

.btn {
	color: white;
	background-color: #5cc18d;
	border: none;
	border-radius: 3px;
	font-size: 1.00em;
	
	&:hover {
		color: #5CC18D;
    border-color: #3c7b5b;
    background: #3c7b5b;
	}
}

.homepage-section {
	padding: 40px 0 40px 0;
	border-bottom: 1px solid #dfdfdf;
}

.footer {
	padding: 40px 0 40px 0;
	ul {
		list-style-type: none;	
	}
	li {
		display: inline;
	}
}

.catalog-items-header {
	padding: 20px;
	h1 {
		font-size: 3em;
	}
	p {
		font-size: 1.25em;
	}
}

.catalog-item {
  border-top: 1px solid #dfdfdf;
	padding: 20px;
	display: flex;
  align-items: top;

	.item-details {
		width: 70%;
		margin: 0 20px 0 0;
	}

	.item-title {
		font-size: 2em;
	}

	p {
		font-size: 1.25em;
	}

	.date-time-container {
	  width: 30%;
    float: right;
	}
}

.catalog-item:hover {
	background: rgba(223, 223, 223, 0.1);
	a {
		text-decoration: underline;
	}
}

.catalog-item-header {
	padding: 40px 0 0 0;
	h1 {
		font-size: 4em;
	}
}

.catalog_item_scope {
	p {
		font-size: 1.25em;
	}
	.about {
		font-size: 1.5em;
		padding: 20px 0 0 0;
	}
	.description {
		width: 50%;
	}
}

.catalog_item_info_panel {
	padding: 20px;
	border: 1px solid black;

	.date-time-container {
		padding-bottom: 20px;
	}

	.date-details {
		font-size: 1.25em;
		font-weight: bold;
	}

	.map-icon {
		float: left;
		margin: 0 20px 0 0;
	}

	.location {
		border-top: 1px solid #dfdfdf;
		padding: 20px 0 20px 0;
	}

	.glyphicon-map-marker {
    font-size: 2em;
	}

	.ticket-price {
		border-top: 1px solid #dfdfdf;
		padding-top: 20px;
		font-size: 1.25em;
		font-weight: bold;
		display: flex;
		.left {
			width: 70%;
			text-align: left;
		}
		.right {
			width: 30%;
			text-align: right;
		}
	}

	.purchase {
		padding-top: 20px;

		.btn {
			width: 100%;
			padding: 10px;
			font-size: 1.25em;
			font-weight: bold;
		}
	}

}
