<div class="jumbotron">
	<div class="container">
	  <h1>Community is what matters most to us</h1>
	  <p>A space to enjoy, relax, think, socialize, work, learn and have fun</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
</div>